$colorBeige: #fffaf5;
$colorBeigeMedium: #F6EBE3;
$colorBeigeDark: #ffedde;
$colorBeigeCheckout: #EDD7C9;
$colorPurple: #5C2E42;
$colorPurpleBtn: #6E3E53;
$colorPurpleLight: #5c2e42;
$colorPurpleCart: #ECE0E7;
$colorPink: #bea2ae;
$colorBrown: #93655a;
$colorGrey: #555555;
$colorError: #BD0000;

$textHead: "Font 1";
$textBody: "Font 2";

$bpMobile: 600px;
$bpTablet: 900px;